* {
    line-height: 100%;
    transition: all 0.1s ease-in;
    outline: none !important;
}
$DarkBlue: #10222F;
$Milk: #F4EBDB;
$Ellow: #F1D194;
$White: #fff;
$gold: #FED989;
$Black: #000;
$TextColor: #A9A5A5;
$Planshet: 1023px;
$PlanshetMax: 1023px;
$Mobile: 728px;
$MobileLand: 828px;
$MobileLandW: 1024px;
$Inter: 'Inter';
$font: 'Montserrat';
$grey: #A9A5A5;
body {
    color: #000;
    font: 15px/18px 'Montserrat';
    position: relative;
    height: 100%;
    color: $TextColor;
    overflow-x: hidden;
    font-weight: normal;
    background: #000;
    margin: 0;
}
.container {
    width: vw(1160px);
    margin: auto;
    padding: 0 vw(10px);
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    @media(max-width: $Planshet) {
        width: 100%;
        padding: 0 vwp(25px);
    }
    @media(max-width: $Mobile) {
        width: 100%;
        padding: 0 vwm(16px);
    }
}
.row {
    margin: 0 vw(-10px);
    @media(max-width: $Planshet) {
        margin: 0 vwp(-25px);
    }
    @media(max-width: $Mobile) {
        margin: 0 vwm(-16px);
    }
}
@media(max-width: $Mobile) {
    .slick-list {
        // padding: 0!important;
    }
}
.box-container {
    width: 100%;
    padding: vw(40px) vw(80px) 0 vw(60px);
    box-sizing: border-box;
}
.scroll__content {
    position: relative;
    width: calc(100% + 30px);
    @media(max-width: $Planshet) {
        width: 100%;
    }
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #4c4a49!important;
}
.scroll__content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    background: #fed989!important;
}
a {
    color: $TextColor;
}
b {
    font-family: 'Montserrat';
    font-weight: bold;
}
img {
    max-width: 100%;
}
svg {
    width: 100%;
    height: 100%;
}
button {
    font-family: 'Montserrat';
    cursor: pointer;
}
.table {
    border: 1px solid #FED989;
    .tr {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #FED989;
        &:last-child {
            border: 0;
        }
    }
    .td {
        position: relative;
        border-right: 2px solid #FED989;
        flex: 1 0 auto;
        box-sizing: border-box;
        &:last-child {
            border: 0;
        }
    }
}
.btn {
    font-weight: 500;
    font-size: vw(16px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    background: none;
    padding: 0;
    &-grey {
        background: linear-gradient(270deg, rgba(119, 116, 113, 0.474968) 0%, #141312 100%);
        border-radius: 5px;
        width: vw(280px);
        line-height: vw(60px);
        color: #FFFFFF;
        &:hover {
            background: linear-gradient(270deg, #242424 0%, rgba(23, 23, 23, 0.474968) 100%);
        }
        .ico-arrow-left-white {
            top: vw(-2px);
            margin-left: vw(21px);
            position: relative;
        }
        @media(max-width: $Planshet) {
            width: vwp(280px);
            line-height: vwp(60px);
            .ico-arrow-left-white {
                top: vwp(-2px);
                margin-left: vwp(21px);
            }
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(60px);
            .ico-arrow-left-white {
                top: vwm(-2px);
                margin-left: vwm(21px);
            }
        }
    }
    &-red {
        background: #ED1C24;
        border-radius: 5px;
        width: vw(280px);
        line-height: vw(60px);
        color: #FFFFFF;
        &:hover {
            background: #FE353D;
        }
        .ico-arrow-left-white {
            top: vw(-2px);
            margin-left: vw(21px);
            position: relative;
        }
        @media(max-width: $Planshet) {
            width: vwp(280px);
            line-height: vwp(60px);
            .ico-arrow-left-white {
                top: vwp(-2px);
                margin-left: vwp(21px);
            }
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(60px);
            .ico-arrow-left-white {
                top: vwm(-2px);
                margin-left: vwm(21px);
            }
        }
    }
    &-white {
        background: none;
        border-radius: 5px;
        width: vw(200px);
        line-height: vw(60px);
        color: #FFFFFF;
        border: 2px solid #A9A5A5;
        color: #A9A5A5;
        font-size: vw(20px);
        &:hover {
            background: #A9A5A5;
            color: #000;
        }
        @media(max-width: $Planshet) {
            width: vwp(200px);
            line-height: vwp(60px);
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(60px);
        }
    }
    &-more {
        background: none;
        border-radius: 5px;
        width: auto;
        line-height: vw(22px);
        color: $gold;
        font-size: vw(18px);
        &:hover {
        }
        @media(max-width: $Planshet) {
            line-height: vwp(22px);
            font-size: vwp(18px);
        }
        
        @media(max-width: $Mobile) {
            line-height: vwm(22px);
            font-size: vwm(18px);
        }
    }
    &-grey2 {
        background: linear-gradient(270deg, #111110 0%, #494746 50.88%, #171615 100%);
        border-radius: 5px;
        width: vw(280px);
        line-height: vw(60px);
        color: $gold;
        border: 1px solid transparent;
        -moz-border-image: -moz-linear-gradient(90deg, rgba(254, 217, 137, 0), rgba(254, 217, 137, 100), rgba(254, 217, 137, 0));
        -webkit-border-image: -webkit-linear-gradient(90deg, rgba(254, 217, 137, 0), rgba(254, 217, 137, 100), rgba(254, 217, 137, 0));
        border-image: linear-gradient(90deg, rgba(254, 217, 137, 0), rgba(254, 217, 137, 100), rgba(254, 217, 137, 0));
        border-image-slice: 1;
        &:hover {
            background: linear-gradient(270deg, #211F1F 0%, #514938 50.88%, #211F1F 100%);
            border: 1px solid #FED989;
        }
        .ico-arrow-left-white {
            top: vw(-2px);
            margin-left: vw(21px);
            position: relative;
        }
        @media(max-width: $Planshet) {
            width: vwp(280px);
            line-height: vwp(60px);
            .ico-arrow-left-white {
                top: vwp(-2px);
                margin-left: vwp(21px);
            }
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(60px);
            .ico-arrow-left-white {
                top: vwm(-2px);
                margin-left: vwm(21px);
            }
        }
    }
    &-white {
        background: none;
        border-radius: 5px;
        width: vw(200px);
        line-height: vw(60px);
        color: #FFFFFF;
        border: 2px solid #A9A5A5;
        color: #A9A5A5;
        font-size: vw(20px);
        &:hover {
            background: #A9A5A5;
            color: #000;
        }
        @media(max-width: $Planshet) {
            width: vwp(200px);
            line-height: vwp(60px);
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(60px);
        }
    }
    &-border_gold {
        background: none;
        border-radius: 5px;
        min-width: vw(200px);
        font-weight: 500;
        font-size: vw(16px);
        line-height: vw(60px);
        border: 2px solid #FED989;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            background: #FED989;
            color: #000;
        }
        @media(max-width: $Planshet) {
            width: vwp(200px);
            line-height: vwp(50px);
            font-size: vwp(16px);
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(35px);
            font-size: vwm(10px);
        }
    }
    &-gold {
        background: none;
        border-radius: 5px;
        min-width: vw(200px);
        font-weight: 500;
        font-size: vw(16px);
        line-height: vw(60px);
        background: $gold;
        color: #000;
        text-transform: uppercase;
        &:hover {
            background: #FFE7B4;
            color: #000;
        }
        @media(max-width: $Planshet) {
            width: vwp(200px);
            line-height: vwp(50px);
            font-size: vwp(16px);
        }
        
        @media(max-width: $Mobile) {
            width: 100%;
            line-height: vwm(35px);
            font-size: vwm(10px);
        }
    }
    @media(max-width: $Planshet) {
        font-size: vwp(16px);
    }
    
    @media(max-width: $Mobile) {
        font-size: vwm(14px);
    }
}
.slick-list, .slick-track {
    transition: none;
}
p {
    font-size: 16px;
    color: $TextColor;
    line-height: 1.625;
    text-align: left;
}
.section__title {
    font-weight: 500;
    font-size: vw(25px);
    line-height: vw(30px);
    display: flex;
    flex-direction: row;
    color: $gold;
    position: relative;
    align-items: center;
    span {
        font-weight: 800;
        font-size: vw(80px);
        line-height: vw(98px);
        align-items: center;
        color: #000;
        text-transform: uppercase;
        text-shadow: 1px 0 1px #a9a5a5, 0 1px 1px #a9a5a5, -1px 0 1px #a9a5a5, 0 -1px 1px #a9a5a5, 0 -2px 1px #a9a5a5;
        display: inline-block;
        position: relative;
        @media (max-width: $Planshet) {
            font-size: vwp(55px);
            line-height: vwp(67px);
            text-shadow: 1px 0 0px #a9a5a5, 0 0px 0px #a9a5a5, 0px 0 0px #a9a5a5, 0 2px 1px #a9a5a5, 0 -1px 1px #a9a5a5;
        }
        @media (max-width: $Mobile) {
            font-size: vwm(30px);
            line-height: vwm(37px);        
        }
    }
    .section__title-box {
        position: relative;
        &:after {
            content: "";
            width: vw(142.62px);
            height: vw(2px);
            background: linear-gradient(90deg, #000000 0%, #FED989 49.04%, #000000 100.63%);
            transform: rotate(-66.25deg);
            position: absolute;
            right: vw(-125px);
            top: vw(67px);
            @media (max-width: $Planshet) {
                width: vwp(142.62px);
                height: vwp(2px);
                right: vwp(-125px);
                top: vwp(45px);
            }
            @media (max-width: $Mobile) {
                width: vwm(50px);
                height: vwm(2px);
                right: vwm(-38px);
                top: vwm(20px);   
            }
        }
    }
    &-position {
        font-weight: 500;
        font-size: vw(35px);
        line-height: vw(43px);
        color: $gold;
        padding-left: vw(138px);
        @media(max-width: $Mobile) {
            padding: vwm(15px) 0 0;
            font-size: vwm(18px);
        }
    }
    div {
        font-weight: 500;
        font-size: vw(25px);
        text-transform: uppercase;
        line-height: vw(30px);
        display: block;
        color: $gold;
        position: relative;
        top: vw(-5px);
        @media (max-width: $Planshet) {
            font-size: vwp(20px);
            line-height: vwp(25px);
            top: vwp(-2px);
        }
        @media (max-width: $Mobile) {
            font-size: vwm(14px);
            line-height: vwm(17px);     
            top: vwm(-2px);   
        }
    }
    @media(max-width: $Mobile) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.text-shadow {
    text-shadow: 1px 0 1px #a9a5a5, 0 1px 1px #a9a5a5, -1px 0 1px #a9a5a5, 0 -1px 1px #a9a5a5, 0 -2px 1px #a9a5a5;
}
.scroll__content, .scroll__content * {
    transition: none;
}
.hr__gradient {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #000000 0%, #FED989 49.04%, #000000 100.63%);
}
.slick-slider {
    @media(max-width: $Planshet) {
        padding-bottom: vwp(80px);
    }
    
    @media(max-width: $Mobile) {
        padding-bottom: vwm(70px);
    }
}
.slick-arrow {
    width: vw(80px);
    height: vw(80px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: vw(14px) vw(24px);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='25' viewBox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 23.75L13 12.5L1.75 1.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    font-size: 0;
    background-position: center;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: vw(-100px);
    z-index: 3;
    &:hover {
        border: 1px solid rgba(92, 92, 92, 0.2);
        background-color: #121212;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='25' viewBox='0 0 14 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 23.75L13 12.5L1.75 1.25' stroke='%23FED989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &.slick-prev {
        transform: rotate(180deg) translateY(50%);
        right: initial;
        left: vw(-100px);
    }
    @media(max-width: $Planshet) {
        width: vwp(60px);
        height: vwp(60px);
        background-size: vwp(9px) vwp(18px);
        right: calc(50% - 90px);
        bottom: 0;
        top: initial;
        transform: translateY(0%);
        &.slick-prev {
            left: calc(50% - 90px);
            transform: rotate(180deg) translateY(0%);
        }
    }
    
    @media(max-width: $Mobile) {
        width: vwm(50px);
        height: vwm(50px);
        background-size: vwm(8px) vwm(16px);
        right: calc(50% - 75px);
        &.slick-prev {
            left: calc(50% - 75px);
        }
    }
}
.openMenu {
    overflow-y: hidden;
}
.d-f-wrap {
    flex-wrap: wrap;
}
.d-hidden {
    display: none !important;
}

.d-m-hidden {
    display: none !important;
}

.m-hidden {
    display: inline-block !important;
}

.text-center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text-left {
    text-align: left;
    align-items: flex-start;
}

.text-right {
    text-align: right;
    align-items: flex-end;
}
.d-f-justify-center {
    justify-content: center;
}
.d-f-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.d-aling-start {
    align-items: flex-start !important;
}

.d-aling-center {
    align-items: center !important;
}

.d-aling-stretch {
    align-items: stretch!important;
}

.d-flex {
    display: flex !important;
}

.d-f-column {
    flex-direction: column;
}

.d-f-row {
    flex-direction: row;
}
.d-col {
    box-sizing: border-box;

    &-6 {
        width: 50%;
        display: inline-block;
    }

    &-6 {
        width: 50%;
    }

    &-12 {
        width: 100%;
        box-sizing: border-box;
    }

    &-2 {
        width: 20%;
    }

    &-9 {
        width: 75%;
    }

    &-8 {
        width: 66.66666667%;
        box-sizing: border-box;
    }

    &-3 {
        width: 25%;
    }

    &-4 {
        width: 33.3333%;
    }
}

.d-order {
    &-1 {
        order: 1;
    }

    &-2 {
        order: 2;
    }

    &-3 {
        order: 4;
    }

    &-5 {
        order: 6;
    }
}
@media (max-width: $Planshet) {
    .p-flex {
        display: flex !important;
    }

    .p-f-column {
        flex-direction: column;
    }

    .p-f-row {
        flex-direction: row;
    }
    .box-container {
        padding: vwp(40px) vwp(57px) 0;
    }
    .d-hidden {
        display: block!important;
    }

    p {
        font-size: vwp(16px);
    }

    .p-col {
        box-sizing: border-box;

        &-6 {
            width: 50%;
            display: inline-block;
        }

        &-6 {
            width: 50%;
            flex: 0 0 50%;
        }

        &-12 {
            width: 100%;
            box-sizing: border-box;
        }

        &-2 {
            width: 20%;
        }

        &-9 {
            width: 75%;
        }

        &-8 {
            width: 66.66666667%;
            box-sizing: border-box;
        }

        &-3 {
            width: 25%;
        }

        &-4 {
            width: 33.3333%;
        }
    }

    .p-order {
        &-1 {
            order: 1;
        }

        &-2 {
            order: 2;
        }

        &-3 {
            order: 4;
        }

        &-5 {
            order: 6;
        }
    }
}
@media (max-width: $Mobile) {
    .container {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .m-flex {
        display: flex !important;
    }

    .m-f-column {
        flex-direction: column;
    }

    .m-f-row {
        flex-direction: row;
    }

    .box-container {
        padding: vwm(20px) vwm(37px) 0 vwm(27);
    }

    p {
        font-size: vwm(7px);
    }

    .m-col {
        box-sizing: border-box;

        &-6 {
            width: 50%;
            display: inline-block;
        }

        &-6 {
            width: 50%;
        }

        &-12 {
            width: 100%;
            box-sizing: border-box;
        }

        &-2 {
            width: 20%;
        }

        &-9 {
            width: 75%;
        }

        &-8 {
            width: 66.66666667%;
            box-sizing: border-box;
        }

        &-3 {
            width: 25%;
        }

        &-4 {
            width: 33.3333%;
        }
    }

    .m-order {
        &-1 {
            order: 1;
        }

        &-2 {
            order: 2;
        }

        &-3 {
            order: 4;
        }

        &-5 {
            order: 6;
        }
    }
}
@media (orientation: landscape) and (max-height: $MobileLand ) and (max-width: $MobileLandW ) {
    .box-container {
        padding: vwm(20px) vwm(37px) 0 vwm(27);
    }

    p {
        font-size: vwm(7px);
    }

}